@page
@model SportniDanV2.Pages.ErrorModel

<!DOCTYPE html>
<html lang="sl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Napaka!</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="container content px-4">
            <div class="imgbox">
                <h1 class="text-center text-danger">V programu se je pojavila napaka!</h1>
                <h1 class="text-center text-danger">Prosimo poskusite kasneje</h1>
                <img class="center-fit" src="~/img/error-image.png" alt="Napaka slika" />
            </div>
        </div>
    </div>
</body>

<script src="css/bootstrap/bootstrap.bundle.min.js"></script>
</html>
