@inherits ExerciseEditBase
@page "/edit/exercise"

<PageTitle>Urejanje Nalog - Športni Dan 2022 Oktober</PageTitle>

<EditNavigation CurrentPage=@EditPageType.Exercise />

<h1 class="text-center my-5">Urejanje Nalog</h1>

<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid @ref="Grid" DataSource="@Exercises" Toolbar="ToolbarItems" AllowPaging="true" AllowSorting="true" AllowFiltering="true">
                <GridPageSettings PageSize="10"></GridPageSettings>
                <GridEvents TValue="ExerciseModel" OnToolbarClick="ToolbarClickHandler"></GridEvents>
                <GridColumns>
                    <GridColumn Field=@nameof(ExerciseModel.Id) HeaderText="ID naloge" IsPrimaryKey="true" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.ExerciseNumber) HeaderText="Številka naloge" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.Title) HeaderText="Naslov" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.Location) HeaderText="Lokacija" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.Props) HeaderText="Rekviziti" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.ExerciseType) HeaderText="Tip naloge" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.OrderType) HeaderText="Razvrstitev" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.NumberOfPlayers) HeaderText="Št. igralcev" TextAlign="TextAlign.Center"></GridColumn>
                    <GridColumn Field=@nameof(ExerciseModel.Rules) HeaderText="Pravila" TextAlign="TextAlign.Center"></GridColumn>
                </GridColumns>
            </SfGrid>
        </div>
    </div>
</div>
