@inherits EditIndexBase
@page "/edit/"

<PageTitle>Urejanje podatkov - Športni Dan 2022 Oktober</PageTitle>

<EditNavigation />

<div class="my-5 text-center">
    <h1>Urejanje podatkov športnega dneva</h1>
    <h3 class="my-2">Za ogled in urejanje podatkov kliknite na enega izmed gumbov zgoraj</h3>
</div>
