@inherits InsertIndexBase
@page "/insertresults"
@using SportniDanV2.Components.ExercisePreviewComponent

<PageTitle>Izbor naloge za vnos rezultatov</PageTitle>

<h1 class="text-center display-4">Izberi nalogo za vpis rezultatov</h1>

<div class="m-2">
    @if (exercises != null && exercises.Count() != 0)
    {
        foreach (var exercise in exercises)
        {
            <ExercisePreview Exercise=@exercise ExercisePreviewType=@ExercisePreviewType.Insert />
        }
    }
</div>
